
*{
	box-sizing: border-box;
	display: block;
}

	head{
		display: none;
	}

	body{
		background-color: beige;
	}
	h1{
		color: red;
		font-weight: bolder;
		font-size: 55px;
	}

	.row{
		width: 100%;
	}
	@media (min-width: 992px)
	{
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
			float: left;
			border: 1px solid black;
			background-color: pink;
			margin-left: 15px;
			margin-right: 15px;
			height: auto;
		}
		.col-lg-1{
			width: 8.33%;
		}

		.col-lg-2{
			width: 16.66%;
			
		}

		.col-lg-3{
			width: 25%;
			height: 250px;
		}

		.col-lg-4{
			width: 30%;
		
		}

		.col-lg-5{
			width: 41.66%;
		
		}

		.col-lg-6{
			width: 50%;
		
		}

		.col-lg-7{
			width: 58.33%;
			
		}

		.col-lg-8{
			width: 66.66%;
					}

		.col-lg-9{
			width: 75%;
					}

		.col-lg-10{
			width: 83.33%;
		}

		.col-lg-11{
			width: 91.66%;
		}

		.col-lg-12{
			width: 100%;
		}
	}

	@media (max-width: 991px) and (min-width: 768px)
	{
		.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12{
			float: left;
			border: 1px solid black;
			background-color: pink;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 25px;
			height: auto;
		}
		.col-m-1{
			width: 8.33%;
		}

		.col-m-2{
			width: 16.66%;
		}

		.col-m-3{
			width: 25%;
		}

		.col-m-4{
			width: 33%;
		}

		.col-m-5{
			width: 41.66%;
		}

		.col-m-6{
			width: 42%;
		}

		.col-m-7{
			width: 58.33%;
		}

		.col-m-8{
			width: 66.66%;
		}

		.col-m-9{
			width: 75%;
		}

		.col-m-10{
			width: 83.33%;
		}

		.col-m-11{
			width: 91.66%;
		}

		.col-m-12{
			width: 88%;
		}
	}
	

	@media (max-width: 767px)
	{
		.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12{
			float: left;
			border: 1px solid black;
			background-color: pink;
			margin-left: 30px;
			margin-right: 30px;
			margin-bottom: 30px;
			height: auto;
		}
		.col-s-1{
			width: 8.33%;
		}

		.col-s-2{
			width: 16.66%;
		}

		.col-s-3{
			width: 25%;
		}

		.col-s-4{
			width: 33.33%;
		}

		.col-s-5{
			width: 41.66%;
		}

		.col-s-6{
			width: 50%;
		}

		.col-s-7{
			width: 58.33%;
		}

		.col-s-8{
			width: 66.66%;
		}

		.col-s-9{
			width: 75%;
		}

		.col-s-10{
			width: 83.33%;
		}

		.col-s-11{
			width: 91.66%;
		}

		.col-s-12{
			width: 80%;
		}
	}
	

	div.smallbox{
		margin-top:0px;
		margin-bottom: 10px;
		border: 1px solid black;
		background-color: yellow;
		color: green;
		font-size: 40px;
		height: auto;
		width:auto;
		text-align: center;
		float: right;
	}
	p{
		clear: right;
		color: maroon;
		font-style: italic;
		font-size: 25px;
		text-align: center;
	}


